* {
  font-family: "Poppins", sans-serif;
}

body {
  /* background: #E5E5E5; */
  background-color: #E5E5E5;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
}

#caurosol {
  position: absolute;
  top: 132px;
  left: 130px;
}
.heroImage2{
  height: 90vh;
}
.drop {
  /* margin-left: -50px; */
  color: rgba(235, 40, 105, 0.918);
}

::placeholder {
  color: rgba(235, 40, 105, 0.918);
  caret-color: pink;
}

.fnt {
  font-size: 13px;
  font-weight: bold;
}

.aho {
  display: inline-flex;
  border-radius: 10px;
  background: white;
  padding: 3px 5px;
}

.value {
  outline: none;
  caret-color: pink;
  width: 150px;

}

.txt {
  font-size: 48px;
}

.pnk {
  margin-top: 8%;
  color: rgba(235, 40, 105, 0.918);
}

.ze {
  font-size: 45px;
}

.ponk {
  color: rgba(235, 40, 105, 0.918);

}

.pic {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.rad {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.chan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.list {
  list-style-type: none;
}

.list>li>a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  #caurosol {
    position: absolute;
    top: 3rem;
    left: 3rem;

  }

  .txt {
    font-size: 36px;
  }

  .rad {
    position: absolute;
    bottom: 5px;
    left: 10px;
  }
}

@media screen and (max-width: 425px) {
  #hero {
    height: 350px;
  }


  #caurosol {
    position: absolute;
    top: 1rem;
    left: 1rem;

  }

  .aho {
    padding: 1px 3px;
  }

  .txt {
    font-size: 25px;
  }

  .value {
    width: 130px
  }

  .abi {
    font-size: 10px;

  }
}